<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="description" content="TodayWasGreat.com is a simple way to be more positive each day.  Share one thing that made your day great.">
      <meta name="keywords" content="great, day, inspiration, positive">
  
    <title>TodayWasGreat.com :: What made YOUR day great?</title>

    
</head>

<link href="/assets/style.css" media="screen" rel="stylesheet" />
<link href="/assets/reset.css" media="screen" rel="stylesheet" />

  <body class="pagesBody">


 <div class="header">
      <%= link_to root_path do %> 
       <img class="twglogo" src="/images/twglogo.svg"> 
    <% end %>


    <nav class="nav">
     <img class="navSquares" src="/images/navSquares.svg">

       <div class="navMenuHidePages">
        <ul>
         <%= link_to root_path do %> 
          <li> Home
          </li>
         <% end %>
     
         <%= link_to 'about' do %> 
          <li> About 
          </li>
         <% end %>
   
          <%= link_to 'contact' do %> 
           <li> Contact
           </li>
          <% end %>

         <% if @user!=current_user %>
          <%= link_to "/dashboard/#{current_user.id}" do %>
           <li>  Dash
           </li>
           <% end %> 
         <% end %> 
        </ul>
      </div>
     </nav>
         
  <div class="pagesStyle">
  
   <div class="aboutCopy">
     <h1> About this Project </h1>

 	 <h2> WHAT </h2>
 	   <p> TodaywasGreat.com is a site where any individual can share something about their day that made it great.  
 	   </p>
     <h2> WHY </h2>
       <p>The simple act of selecting a great moment from the day actually brings out greatness.  It allows for a more positive day-to-day perspective.  Why share it?  Happiness is contagious and inspired people inspire people.  It's a small step in making the world a better place. 
 	   </p>
     <h2> WHO</h2>
       <p>This site was started by a world traveler/mom/engineer by the name of Nina in 2011, but this site belongs to everyone.  Whether you tend to be an optimist, a pessimist, or somewhere in between, we all have a lot to gain from focusing on the positive parts of our days.
 	   </p>
   </div>

    <div class="footer">
        <ul>
         <%= link_to "http://www.facebook.com/todaywasgreat" do %> 
          <li class="fb">
          </li>
         <% end %>

          <%= link_to "https://twitter.com/Today_was_great" do %> 
          <li class="twitter">
          </li>
         <% end %>

         <%= link_to "https://instagram.com/todaywasgreat" do %> 
          <li class="instagram">
          </li>
         <% end %>
        </ul>

      Copyright 2014 :: TodayWasGreat.com  :: Designed and Built by Nina Saporta
  </div> 
   </div>
  </body>

</html>