<div class="error">
  <% if @post.errors.any? %>
    <ul>
    <% @post.errors.messages.each do |model, error| %>
  	
  	<p><%= model.upcase %>: <%= error.first %></p>
  	
    <% end %>
  </div>
    </ul>
<% end %>


     <%= form_for @post do |f| %>
      <p>
        <%= f.text_field :content, :placeholder => 'Share what made your day great!' %>
      </p>
      <!--<p class="btn btn-primary btn-lg"> -->
      <%= f.submit %></p>
     <% end %>
  
