
<li>
    <div class="postContent">
      <%= post.content %> 
    </div>
    <% if post.user %>
  
    <div class="nameLocation">
    <p>- <%= link_to post.user.name, "/dashboard/#{post.user.id}"%>, <%=post.user.location %> </p>
    </div>

    <% else %>
    <p>- Anonymous</p>
   <% end %>

    <% if @user==current_user %>

    <div class="editDestroy">
      <%= link_to 'Edit', [:edit, post] %>
      <%= link_to 'Delete', post, :method => :delete, :confirm => "Are you sure?" %>
    </div>

    <% end %>


 

</li>
