
<body>
    
     
   <div class="header">
      <%= link_to root_path do %> 
       <img class="twglogo" src="/images/twglogo.svg"> 
    <% end %>


    <nav class="nav">
     <img class="navSquares" src="/images/navSquares.svg">
       <div class="navMenuHide">
        <ul>
         <%= link_to root_path do %> 
          <li> Home
          </li>
         <% end %>
     
         <%= link_to 'about' do %> 
          <li> About 
          </li>
         <% end %>
   
          <%= link_to 'contact' do %> 
           <li> Contact
           </li>
          <% end %>

         <% if @user!=current_user %>
          <%= link_to "/dashboard/#{current_user.id}" do %>
           <li>  Dash
           </li>
           <% end %> 
         <% end %> 
        </ul>
      </div>
     </nav>


<h2 class="editpost"> Edit Post! </h2>

<div class= "whatmadeform">
     <%= form_for @post do |f| %>
      <p>
        <%= f.text_field :content %>
      </p>
      <!--<p class="btn btn-primary btn-lg"> -->
      <%= f.submit %></p>
     <% end %>
  
 </div>

  <div class="space">
  </div>
 <div class="footer">
          <ul>
         <%= link_to "http://www.facebook.com/todaywasgreat" do %> 
          <li> <img class="fb" src="/images/fblogo.svg">
          </li>
         <% end %>

          <%= link_to "https://twitter.com/Today_was_great" do %> 
          <li> <img class="twitter" src="/images/twitterlogo.svg">
          </li>
         <% end %>

         <%= link_to "https://instagram.com/todaywasgreat" do %> 
          <li> <img class="instagram" src="/images/instagramlogo.svg">
          </li>
         <% end %>
        </ul>

      Copyright 2014 :: TodayWasGreat.com  :: Designed and Built by Nina Saporta
  </div> 
</body>
